*.gem
.bundle
.sass-cache
_site/
Gemfile.lock
**/.ruby-version
assets/Photos/DSC00425.jpg
assets/Photos/DSC00722.jpg
assets/Photos/DSC01114-2.jpg
assets/Photos/DSC01139.jpg
assets/Photos/DSC01827.jpg
assets/Photos/DSC01935.jpg
